.App .container {
  position: relative;
  z-index: 1;
  top: 80px;

  display: block;
  margin: 0 auto;
  font-family: "Amatic SC", cursive;
  font-family: "Poppins", sans-serif;
}
.App .card-container {
  width: 600px;
  display: block;
  margin: 0 auto;
}
.App .card {
  max-width: 600px;
  padding: 30px 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.App .form {
  background-color: white;
}
.App .location {
  color: teal;
  font-size: 35px;
  transition: all 150ms ease-in-out;
}
.App .location:hover {
  color: rgb(5, 109, 109);
  cursor: pointer;
  transform: scale(1.1);
}
.App .day0-weather {
  max-width: 40%;
  position: absolute;
  margin-left: 100px;

  z-index: 0;
}
.App img .card-img {
  position: relative;
  z-index: 2;
  top: 40px;
}
.App .header-left {
  font-size: 40px;
  line-height: 30px;
  font-weight: 300px;
  z-index: 2;
}
.App .day-time {
  font-size: 12px;
}
.App .current-weather-description {
  font-size: 12px;
}
.App .header-right {
  text-align: right;
  line-height: 30px;
}
.App .alternative-units {
  position: relative;
  top: -18px;
  font-size: 12px;
}
.App .alternative-degree {
  text-decoration: none;
  font-size: 14px;
}
.App .actual-maxminT {
  font-size: 14px;
}
.App .maxminT {
  font-weight: 200;
}
.App .maxT {
  font-weight: 500;
}
.App .max-degree {
  font-weight: 500;
}
.App .current-temperature {
  font-size: 40px;
  font-weight: 400;
}
.App .extra-information {
  line-height: 15px;
  padding-top: 0px;
  font-size: 12px;
}
.App footer a {
  color: #013348;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.App footer a:hover {
  text-shadow: 8px 5px 11px rgba(39, 142, 163, 0.4);
  color: #278ea3;
}
