.Weather .container {
  position: relative;
  z-index: 1;
  top: 80px;
  display: block;

  font-family: "Amatic SC", cursive;
  font-family: "Poppins", sans-serif;
}

.Weather .card {
  padding: 30px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  border: 0;
  color: rgb(16, 48, 48);
  /* background-color: rgba(255, 255, 255, 0.239); */
}
.Weather .form {
  background-color: white;
}
.Weather .btn {
  color: white;
  background: #389c9c;
  transition: all 200ms ease-in-out;
}
.Weather .btn:hover {
  background: teal;
}
.Weather .location {
  color: teal;
  font-size: 35px;
  transition: all 150ms ease-in-out;
}
.Weather .location:hover {
  color: rgb(5, 109, 109);
  cursor: pointer;
  transform: scale(1.1);
}
.Weather .day0-weather {
  margin-left: -20px;
  position: absolute;
  margin-top: -10px;
  z-index: 0;
}

.Weather .header-left {
  font-size: 40px;
  line-height: 30px;
  font-weight: 300px;
  z-index: 2;
}
.Weather .day-time,
.Weather .current-weather-description {
  font-size: 12px;
}

.Weather .header-right {
  margin-top: 10px;
  text-align: right;
  line-height: 30px;
}
.Weather .current-temperature {
  font-size: 40px;
  font-weight: 400;
}
.Weather .extra-information {
  line-height: 15px;
  font-size: 12px;
}
.Weather .alternative-units {
  position: relative;
  top: -18px;
  font-size: 12px;
}
.Weather .alternative-degree {
  text-decoration: none;
  font-size: 14px;
}

.Weather footer {
  padding-left: 10px;
  padding-top: 10px;
}
.Weather footer a {
  color: #013348;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.Weather footer a:hover {
  text-shadow: 8px 5px 11px rgba(39, 142, 163, 0.4);
  color: #278ea3;
}

@media (max-width: 600px) {
  .Weather .container {
    max-width: fit-content;
    margin: 0 auto;
  }
  .Weather .card {
    max-width: 95%;
    padding: 20px 20px;
    margin: 0 auto;
  }
  .Weather form {
    font-size: 13px;
  }
  .Weather .header-left {
    font-size: 30px;
    text-align: center;
  }
  .Weather .header-right {
    text-align: center;
  }
  .Weather .current-temperature {
    margin-top: 20px;
  }
  .Weather .extra-information {
    font-size: 10px;
  }
  .Weather .day-time {
    font-size: 10px;
  }

  .Weather .day0-weather {
    max-width: 45%;
    position: relative;
    margin: 0 auto;
    opacity: 60%;
    z-index: 0;
  }

  .Weather footer {
    text-align: center;
    margin-bottom: 100px;
  }
}
